<!DOCTYPE html>
<html>

<head>
    <title>Profile - Rotten Guavas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
                <img src="https://image.flaticon.com/icons/svg/2045/2045020.svg" width=50>
                Rotten Guavas
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- ejs component -->
                <!-- <% if(!currentUser){ %> -->
                <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="login.html">Login</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="register.html">Sign Up</a>-->
                <!--</li>-->
                <!-- ejs component -->
                <!-- <% } else{ %> -->
                <li class="nav-item">
                    <a class="nav-link" href="profile.html"><!-- <%= currentUser.username %> -->User Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Logout</a>
                </li>
                <!-- ejs component -->
                <!-- <% } %> -->
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <h1>
            Profile
        </h1>
        <img src="https://static1.squarespace.com/static/59260f49e58c62c9eacc873b/t/59485c87f7e0ab389ba1ce36/1497914507525/?format=1500w" style="width:100px" />
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="username" value="Mario64" readonly>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password" value="iheartnintendo" readonly>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="email" value="mario64@nintendo.com" readonly>
        </div>
        <div class="form-group">
            <label for="consoles">Preferred Console:</label>
            <input type="text" name="pconsole" placeholder="pconsole" value="PS4" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>

        <hr class="my-4">
        <h2>Your Reviews</h2>

        <div>
            <table class="table table-sm" style="margin-top:50px">
                <thead>
                    <tr>
                        <th scope="col" style="width:200px">Game</th>
                        <th scope="col" style="width:200px">Console</th>
                        <th scope="col" style="width:200px">Your Rating</th>
                        <th scope="col" style="width:200px">Review Date</th>
                        <th scope="col" style="width:200px">Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Streets of Rage</td>
                        <td>PS4</td>
                        <td>10</td>
                        <td>October 1, 2020</td>
                        <td>Best game ever!</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="summary"><strong>Summary:</strong></label>
                <textarea class="form-control" name="summary" style="background-color:white" readonly>It was such an awesome game! I really enjoyed it from the beginning until the very end. Spoil alert: I did not expect the final boss to be S*****!</textarea>
            </div>
            <button type="button" class="btn btn-primary">Delete</button>
        </div>

        <div>
            <table class="table table-sm" style="margin-top:50px">
                <thead>
                    <tr>
                        <th scope="col" style="width:200px">Game</th>
                        <th scope="col" style="width:200px">Console</th>
                        <th scope="col" style="width:200px">Your Rating</th>
                        <th scope="col" style="width:200px">Review Date</th>
                        <th scope="col" style="width:200px">Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>World of Warcraft</td>
                        <td>PC</td>
                        <td>8</td>
                        <td>November 4, 2017</td>
                        <td>Still the best MMORPG!</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="summary"><strong>Summary:</strong></label>
                <textarea class="form-control" name="summary" style="background-color:white" readonly>The latest expansion added new life to this already 10 year old game. The new class plays really uniquely and is really fun! Would recommend to others!</textarea>
            </div>
            <button type="button" class="btn btn-primary">Delete</button>
        </div>

        <div>
            <table class="table table-sm" style="margin-top:50px">
                <thead>
                    <tr>
                        <th scope="col" style="width:200px">Game</th>
                        <th scope="col" style="width:200px">Console</th>
                        <th scope="col" style="width:200px">Your Rating</th>
                        <th scope="col" style="width:200px">Review Date</th>
                        <th scope="col" style="width:200px">Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dragon Ball Z: Kakarot</td>
                        <td>PC</td>
                        <td>9</td>
                        <td>November 25, 2019</td>
                        <td>Best DBZ game ever!</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <label for="summary"><strong>Summary:</strong></label>
                <textarea class="form-control" name="summary" style="background-color:white" readonly>The game is pretty entertaining! The gameplay is fast and the boss fights are distinct from each other. Really feels like you're Characters from inside the Dragon Ball universe! Decent replayability.</textarea>
            </div>
            <button type="button" class="btn btn-primary">Delete</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-       J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>