<h1>
    Login!
</h1>

<form id="login" action="/login" method="POST">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit" class="btn btn-primary">Login!</button>
    <button onclick="location.href='/'" type="button" class="btn btn-primary">Cancel</button>
</form>