<div class="container-fluid">
    <h1>
        Sign Up!
    </h1>

    <form id="register" action="/register" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="password" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="email" required>
        </div>
        <div class="form-group">
            <label for="console">Preferred Console</label>
            <select id="console" name="console">
                {{#each options}}
                    <option value="{{console_ID}}">{{console_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="photo">URL to your photo</label>
            <input type="text" name="photo" placeholder="photo" value="{{photo}}">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
    </form>
</div>