.game_photo {
    width: 200px;
}

.profile_photo {
    width: 100px;
}

.small_cell th {
    width: 150px;
}

.medium_cell th {
    width: 200px;
}

.form-control.text_box {
    background-color: white;
    color: black;
}

